<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example of both captcha v2 and v3</title>
</head>
<body>

<h1>Google captcha version 2 form:</h1>
<form method="POST" action="/v2" id="parent">
    {# you can also use Flask-wtf forms #}
    <input placeholder="username" type="text" name="username" id="">
        <br>
    <input placeholder="password" type="password" name="password" id="">
        <br>
    <input value="submit" type="submit">

    {# model name is required #}
    {{
            captcha.render_captcha (
                    model_name='g-captcha2',
                    class='custom-css-class-for-this-captcha',
                    style='text:red;',
                    id='g-captcha-v2',
                    dataset="data-ok='true';"
                )
    }}

</form>

<h1>Google captcha version 3 form:</h1>
<form method="POST" action="/v3" id="ParentForm">
    {# you can also use Flask-wtf forms #}
    <input placeholder="username" type="text" name="username" id="">
    <br>
    <input placeholder="password" type="password" name="password" id="">
    <br>
    {{
            captcha.render_captcha (
                model_name='g-captcha3',
                class='custom-class-name',
                id="SubmitBtnForm",
                style=" background-color:blue; color:white; font-size:2rem;",
                dataset="data-ok='true' data-test='test data set check' ",
                ParentFormID="ParentForm",
                BtnText="submit This Form",
                event=" onclick='alert('js alert');' ",
                hiddenBadge=True
            )
    }}
</form>

</body>
</html>