<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <form method="POST" action="" id="ParentForm">
        {# you can also use Flask-wtf forms #}
        <input placeholder="username" type="text" name="username" id="">
        <br>
        <input placeholder="password" type="password" name="password" id="">
        <br>
        {{
            captcha.render_captcha(
                model_name='captcha3',
                class='custom-class-name',
                ParentFormID="ParentForm",
                BtnText="submit This Form",
                id="SubmitBtnForm",
                style=" background-color:blue; color:white; font-size:2rem;",
                dataset="data-ok='true' data-test='test data set check' ",
                hiddenBadge=True
            )
        }}
    </form>
    
</body>
</html>