<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

<form method="POST" action="" id="ParentForm">
    {# you can also use Flask-wtf forms #}
    <input placeholder="username" type="text" name="username" id="">
    <br>
    <input placeholder="captcha" type="text" name="captcha" id="">
    <br>
    {{ captcha.render_captcha(model_name='imageCaptcha') }}
    <input type="submit">
</form>

</body>
</html>